.scroll-nice::-webkit-scrollbar {
    width: 7px;
}

.scroll-nice::-webkit-scrollbar-track {
}

.scroll-nice::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 7px;
}

.title-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.subtitle-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.para-font {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.fsize-h {
	font-size: 16vw;
	line-height: 11vw;
}

.fsize-l {
	font-size: 11.8vw;
	line-height: 10vw;
}

.fsize-xm {
	font-size: 4vw;
}

.fsize-m {
	font-size: 2vw;
	line-height: 2vw;
}

.fsize-m- {
	font-size: 1.5vw;
	lighting-color: 4vw;
}

.fsize-s {
	font-size: 1vw;
	line-height: 1.5vw;
}

.fsize-t {
	font-size: .7vw;
}

canvas {
	position: relative;
}

#search {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
}

#query {
	width: 80%;
	border-bottom: 2px solid #f5f5f5;
	padding-bottom: 0;
	text-align: center;
}

.button-container {
	width: 20vw;
	height: 4vw;
	background: #ddd;
	opacity: 1;
	border-radius: 2vw;
	text-align: center;
}

.flex-container {
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-20 {
	height: 20vh;
}

.space-12 {
	height: 12vh;
}

.space-5 {
	height: 5vh;
}

svg {
  fill: #616161;
}

.prompt {
  	padding: 20px 0;
  	position: absolute;
  	bottom: 0;
  	left: 0%;
  	right: 0%;
	text-align: center;
}

.svg-scroll {
	color: #616161;
	display: inline-block;
	width: 25px;
	height: 25px;
}

.svg-scroll path {
	-webkit-animation-duration: 1.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	opacity: 0;
	-webkit-animation-name: scrollAnimationBig;
}

@-webkit-keyframes scrollAnimationBig {
 	0% {
 		-webkit-transform: translateY(-25px);
  	}
  	75% {
    	opacity: 1;
    	-webkit-transform: translateY(0px);
  	}
}

@keyframes scrollAnimationBig {
  	0% {
    	-webkit-transform: translateY(-25px);
  	}
  	75% {
    	opacity: 1;
    	-webkit-transform: translateY(0px);
  	}
}

.lime-bg {
	background-color: #D5E5D7;
}

.diag-top {
	margin-bottom: -6px;
}