.scroll-nice::-webkit-scrollbar {
    width: 7px;
}

.scroll-nice::-webkit-scrollbar-track {
}

.scroll-nice::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 7px;
}

.title-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.subtitle-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.para-font {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.fsize-h {
	font-size: 16vw;
	line-height: 11vw;
}

.fsize-l {
	font-size: 11.8vw;
	line-height: 10vw;
}

.fsize-xm {
	font-size: 4vw;
	line-height: 5vw;
}

.fsize-m {
	font-size: 2vw;
	line-height: 2vw;
}

.fsize-m- {
	font-size: 1.5vw;
	lighting-color: 4vw;
}

.fsize-s {
	font-size: 1vw;
	line-height: 1.5vw;
}

.fsize-t {
	font-size: .7vw;
}

canvas {
	position: relative;
}

#search {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%,-6%);
}

#query {
	width: 80%;
	border-bottom: 2px solid #f5f5f5;
	padding-bottom: 0;
}

#query-container {
	width: 28vw;
	height: 4.5vw;
	background: #111;
	opacity: .88;
	border-radius: 2vw;
	margin: auto;
	text-align: center;
}

.flex-container {
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}